{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no"> 
        <title>
            Chat
        </title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/>
        
    </head>
    <body>
    <!-- header -->
    {% include 'static/header.html' %}
    {% include 'static/base_js.html' %}
    {% include 'static/base_css.html' %}
        <!-- body -->
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- footer -->
    {% include 'static/footer.html' %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>
</html>